name: Waka Readme
on:
  #Schedule daily updates
  schedule: [{ cron: "0 0 * * *" }]
  #Run workflow manually
  workflow_dispatch:
  #Run workflow when pushing on master/main
  push: { branches: ["master", "main"] }
jobs:
  waka-readme-stats:
    if: "!contains(github.event.commits[0].message, '[skip ci]')"
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          #Token
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}

          #Configure
          # DEBUG_LOGGING: "False"
          COMMIT_BY_ME: "True"
          COMMIT_EMAIL: "41898282+github-actions[bot]@users.noreply.github.com"
          COMMIT_MESSAGE: "waka: update readme"
          COMMIT_USERNAME: "readme-bot"
          IGNORED_REPOS: "ponfertato, example"
          LOCALE: "en"
          SECTION_NAME: "waka"
          SHOW_COMMIT: "True"
          SHOW_DAYS_OF_WEEK: "True"
          SHOW_EDITORS: "True"
          SHOW_LANGUAGE_PER_REPO: "False"
          SHOW_LANGUAGE: "True"
          SHOW_LINES_OF_CODE: "False"
          SHOW_LOC_CHART: "False"
          SHOW_OS: "True"
          SHOW_PROFILE_VIEWS: "False"
          SHOW_PROJECTS: "True"
          SHOW_SHORT_INFO: "False"
          SHOW_TIMEZONE: "False"
          SHOW_TOTAL_CODE_TIME: "False"
          SHOW_UPDATED_DATE: "False"
          SYMBOL_VERSION: "3"
          UPDATED_DATE_FORMAT: "%d/%m/%Y %H:%M:%S"
